@model IEnumerable<QuanLyCuaHangCoffee.Models.ApplicationUser>
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .d-grid {
        display: grid;
    }

    .m-b-5 {
        margin-bottom: 5px;
    }
</style>
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Danh sách tài khoản</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-success" })
                    </p>
                    <div class="jsgrid">
                        <div class="jsgrid-grid-header ">
                            <table class="jsgrid-table">
                                <tr class="jsgrid-header-row">
                                    <th class="jsgrid-header-cell" style="width: 150px"></th>
                                    <th class="jsgrid-header-cell">Tài khoản</th>
                                    <th class="jsgrid-header-cell">Số điện thoại</th>
                                    <th class="jsgrid-header-cell">Email</th>
                                    <th class="jsgrid-header-cell" style="width: 100px"></th>
                                </tr>
                            </table>
                        </div>
                        <div class="jsgrid-grid-body">
                            <table class="jsgrid-table">
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {

                                        var i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr class="jsgrid-row ">
                                                <td class="jsgrid-cell jsgrid-align-center" style="width: 150px">
                                                    @i
                                                </td>
                                                <td class="jsgrid-cell">
                                                    @item.UserName
                                                </td>
                                                <td class="jsgrid-cell">
                                                    @item.PhoneNumber
                                                </td>
                                                <td class="jsgrid-cell">
                                                    @item.Email
                                                </td>

                                                <td class="jsgrid-cell jsgrid-align-center" style="width: 100px">
                                                   @* <div class="d-grid m-b-5">
                                                        @Html.ActionLink("Sửa", "Edit", new { id = item.UserName }, new { @class = "btn btn-sm btn-primary" })
                                                    </div>*@
                                                    <div class="d-grid m-b-5">
                                                        <a href="#" data-user="@item.UserName" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                        @* @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section scripts{
    <script>
        $(document).ready(function () {         
            $('body').on('click', '.btnDelete', function () {
                var user = $(this).data("user");
                var id = $(this).data("id");
                Swal.fire({
                    title: 'Bạn có muốn xóa không',
                    text: "Tài khoản sẽ bị xóa khỏi danh sách",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00CC00',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Hủy',
                    confirmButtonText: 'Có',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/admin/account/DeleteAccount',
                            type: 'POST',
                            data: { user: user, id: id },
                            success: function (rs) {
                                if (rs.success) {
                                    $('#trow_' + id).remove(); 
                                }
                            }
                        });
                        Swal.fire(
                            'Xóa thành công!',
                            'Tài khoản đã được xóa.',
                            'success'
                        ).then(() => {
                            location.reload();
                        });
                    }
                })
            });
        });
    </script>
}

